<div class="card box-shadow">
    <div class="form-title-container">
        <!-- 111 -->
        <span class="title">RESTABLECER</span>
    </div>
    <form #resetPasswordForm="ngForm">
        <mat-form-field class="emailReset" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput disabled [value]="data.email" />


        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                Token
            </mat-label>
            <input matInput type="text" ngModel required name="token" #token="ngModel" />
            <mat-error>Token es requerido</mat-error>
        </mat-form-field>


        <!-- contraseña -->
        <mat-form-field appearance="outline">
            <mat-label>
                Contraseña
            </mat-label>
            <input matInput ngModel name="newPassword" type="password" required minlength="8" #password="ngModel"
                (ngModelChange)="verifyPasswords(resetPasswordForm)" />
            @if (password.hasError('required')) {
            <mat-error>Contraseña es requerido</mat-error>
            }
            @if (password.hasError('minlength')) {
            <mat-error>Contraseña debe tener al menos 8 caracteres</mat-error>
            }
        </mat-form-field>

        <!-- confirmar contraseña -->
        <mat-form-field appearance="outline">
            <mat-label>
                COnfirmar contraseña
            </mat-label>
            <input matInput ngModel name="confirmNewPassword" type="password" required #confirmPassword="ngModel"
                (ngModelChange)="verifyPasswords(resetPasswordForm)" />
            @if (confirmPassword.hasError('required')) {
            <mat-error>Confirmación de contraseña es requerida</mat-error>
            }
            @if (confirmPassword.hasError('asdasd')) {
            <mat-error>Las contraseñas no coinciden</mat-error>
            }
        </mat-form-field>



        <!-- <button [disabled]="forgotPasswordForm.invalid"  -->
        <button [disabled]="resetPasswordForm.invalid" class="box-shadow" (click)="resetPassword(resetPasswordForm)"
            mat-flat-button>
            REESTABLECER
        </button>



    </form>
</div>