header {
    background-color: var(--secondary-color);
    height: 80px;

    display: flex;
    justify-content: center;

    & .container {
        border: 2px solid red;

        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        & .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: purple; */
            gap: 10px;

            & img {
                height: 50px;
                width: 50px;
            }

            & h1 {
                font-size: 16px;
                font-weight: 500;
                color: white;
                margin: 0px;
            }
        }
    }
}
