<div class="page-containerx">
    <app-simple-header></app-simple-header>
    <div class="title-container">
        <div class="title-ingresa">
            <span>Ingresa a MusicalEvents para comprar</span>
        </div>
    </div>

    <div class="content-container">
        <!-- <div class="card2">asdasdasd
        </div> -->
        <div class="card box-shadow">
            <div class="form-title-container">
                <!-- 111 -->
                <span class="title">RESTABLECER</span>
            </div>
            <form #forgotPasswordForm="ngForm">
                <mat-form-field class="email" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" ngModel name="email" required email #email="ngModel" />

                    @if(email.hasError('required')){
                    <mat-error>Email es requerido</mat-error>
                    }

                    @if(email.hasError('email')){
                    <mat-error>Ingrese un email valido</mat-error>
                    }
                </mat-form-field>


                <button [disabled]="forgotPasswordForm.invalid" class="box-shadow" (click)="sendToken(email.value)"
                    mat-flat-button>ENVIAR TOKEN
                </button>

                <div class="login">
                    <span>Si ya tienes una cuenta
                        <span routerLink="/login" class="text-link">ingresa
                        </span>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <!-- {{loginForm.controls.password.errors|json}}
    <br>

    {{loginForm.controls.email.errors|json}}
    {{loginForm.controls.email.hasError('required') |json}}
    {{loginForm.controls.email.hasError('email') |json}} -->





    <app-footer></app-footer>
</div>