.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* height: 2000px; */
    height: 100vh;

    border: 1px solid rgb(0, 208, 255);

    & .container {
        /* height: 50%; */
        /* width: 1000px; */

        /* //solo esta afectando a los hijos mas no el centrado de TODO ELDIV PADRE */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */

        align-items: center;

        border: 10px solid red;

        & .search {
            border: 2px solid red;
            width: 940px;

            margin-top: 30px;

            display: flex;
            align-items: center;
            gap: 20px;
            & span {
                margin-bottom: 20px;

                font-size: 16px;
                font-weight: 500;
                /* border: 2px solid black;
            margin-left: 30px;
            margin-right: 15px; */
            }
        }

        & .list {
            width: 980px;
            /* border: 2px solid rgb(0, 255, 42); */

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            margin-top: 20px;
            margin-bottom: 40px;
            /* 
            se agregara la manito desde aqui, es decir no en ek mismo componente para que solo ocurra el pointer
            en esta vista */
            & app-event-card {
                cursor: pointer;
                /*
                transition:
                    transform 0.3s,
                    box-shadow 300ms;*/
                border-radius: 8px;
            }

            /* estado hover es cuando se posiciona en un card */
            /*& app-event-card:hover {
                transform: scale(1.05);
                box-shadow: var(--primary-color) 0px 0px 10px;
            }***/
        }
    }
}
